.btn-logout {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.input-description {
  height: 10rem;
}
.admin-main-container {
  color: #dfdfdf;
}
.highlight {
  width: 25% !important;
  min-width: 10rem !important;
}
