.btn-logout {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.input-description {
  height: 10rem;
}
.invisible-input {
  width: 0;
  height: 0;
  border: white !important;
  pointer-events: none;
  color: white !important;
}
