/* paleta de colores:
gris:#E0E0E0
dorado:#ffec00 */
/* font-family: 'Montserrat', sans-serif; */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url(./login.css);
@import url(./adminMain.css);
@import url(./navbar.css);
@import url(./loader.css);
@import url(./hero.css);
@import url(./cards.css);
@import url(./main.css);
@import url(./pagination.css);
@import url(./footer.css);
@import url(./login.css);
@import url(./slidercube.css);
@import url(./mediaqueries.css);
@import url(./modal.css);
@import url(./slidernormal.css);
@import url(./propertydetail.css);
.total-body {
  font-family: "Montserrat", sans-serif;
}
.title {
  font-family: "Playfair Display", serif;
}

.gross-letter {
  font-weight: 600;
}
.black {
  color: #191919;
}
.grey {
  color: #696969;
}
.light-grey {
  color: #dfdfdf;
}
.bg-black {
  background-color: #191919;
}
.bg-grey {
  background-color: #696969;
}
.bg-light-grey {
  background-color: #dfdfdf;
}
.contact-container {
  min-height: 60vh;
}
.icon-contact {
  font-size: 8em;
}

.icon-contact-left {
  animation: slideleft 1.2s;
}

.icon-contact-right {
  animation: slideright 1.2s;
}
.icon-contact:hover {
  color: #ffffff;
}
/* .title-contact {
  font-size: 3.7em;
} */
@keyframes slideleft {
  from {
    transform: translateX(-1000px);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slideright {
  from {
    transform: translateX(1000px);
  }

  to {
    transform: translateX(0);
  }
}
