.img-card {
  width: 300px;
  height: 300px;
}
.card-container {
  width: 300px;

  background-color: #ffffff !important;

  color: #696969;
}
.price-box {
  height: 2.5em;
  padding: calc(0.5em - 1px) 1em;
}
.btn-card {
  border: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
}
.card-footer {
  background-color: #ffffff !important;
}
