.card-container {
  background-color: #ffffff !important;

  color: #696969;
}

.btn-card {
  border: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  padding: calc(1.6em - 1px) 1em;
  max-width: 50%;
}
.card-footer {
  background-color: #ffffff !important;
}
.price-box {
  max-width: 50%;
}
.no-result {
  color: #dfdfdf;
  min-height: 60vh;
}
.searcher-container {
  color: #dfdfdf;
}
.input-price {
  width: 7em !important;
}
