.img-card {
  width: 360px;
  height: 360px;
}
.card-container {
  width: 360px;

  background-color: #ffffff !important;

  color: #696969;
}

.btn-card {
  border: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  padding: calc(1.6em - 1px) 1em;
}
.card-footer {
  background-color: #ffffff !important;
}
