.footer-container {
  background: #ffffff;
  background: -webkit-radial-gradient(top left, #ffffff, #e3ede8);
  background: -moz-radial-gradient(top left, #ffffff, #e3ede8);
  background: radial-gradient(to bottom right, #ffffff, #e3ede8);
  /* background-color: #dfdfdf; */
}

.social-icon {
  text-decoration: none;
  font-size: 2.2em;
  color: #6b6363;
}

.social-icon:hover {
  color: #191919;
}

.link {
  text-decoration: none;
}
.link-footer {
  text-decoration: none;
  color: #6b6363;
  list-style: none;
  font-size: 0.95em;
}

.link-footer:hover {
  color: #191919;
}
.img-logo-footer {
  width: 5em;
}
