.hero-container {
  background-image: url("../../public/imagenes/inmobiliaria.main-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
}
.slogan-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.3);
}

.slogan-cube-container {
  top: 0;
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #dfdfdf;
  z-index: 2;
  font-family: "Playfair Display", serif;
}

.slogan {
  font-size: 3em;
  text-align: center;
}
.btn-hero {
  padding: 1.5em 2em;
  font-size: 1.3em;
}
.btn-hero:hover {
  background-color: #ffffff;
}
