@media (max-width: 768px) {
  .cube-container {
    font-size: 12px;
  }
  .slogan-cube-container {
    font-size: 12px;
  }
  .nav-bar {
    font-size: 14px;
  }
  .footer-container {
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  .cube-container {
    font-size: 8px;
  }
  .slogan-cube-container {
    font-size: 8px;
  }
}
@media (max-width: 400px) {
  .img-card {
    width: 250px;
    height: 250px;
  }
  .card-container {
    width: 250px;
  }
}
