@media (max-width: 992px) {
  .input-price {
    width: 100% !important;
  }
  .input-price-container {
    width: 100%;
  }
  /* .slider-normal-container {
    font-size: 12px;
  } */
  .prev-normal {
    font-size: 14px !important;
  }
  .next-normal {
    font-size: 14px !important ;
  }
}
@media (max-width: 768px) {
  .cube-container {
    font-size: 12px;
  }
  .slogan-cube-container {
    font-size: 12px;
  }
  .nav-bar {
    font-size: 14px;
  }
  .footer-container {
    font-size: 14px;
  }
  /* .slider-normal-container {
    font-size: 10px;
  } */
  .prev-normal {
    font-size: 12px !important;
  }
  .next-normal {
    font-size: 12px !important ;
  }
}
@media (max-width: 576px) {
  .slogan-cube-container {
    font-size: 10px;
  }
  /* .slider-normal-container {
    font-size: 8px;
  } */
  .prev-normal {
    font-size: 10px !important;
  }
  .next-normal {
    font-size: 10px !important ;
  }
  .font-size-detail {
    font-size: 14px;
  }
  .font-size-detail-title {
    font-size: 17.5px;
  }
}
@media (max-width: 400px) {
  /* .slider-normal-container {
    font-size: 5px;
  } */
  .font-size-detail {
    font-size: 12px;
  }
  .font-size-detail-title {
    font-size: 15px;
  }
}

@media (max-width: 350px) {
  .cube-container {
    font-size: 10px;
  }
}
@media (max-width: 300px) {
  .cube-container {
    font-size: 8px;
  }
  .card-footer {
    font-size: 0.7em;
  }
  .card-body {
    font-size: 0.7em;
  }
  .font-size-detail {
    font-size: 8px;
  }
  .font-size-detail-title {
    font-size: 10px;
  }
}
