.img-logo {
  width: 3rem;
  height: 3rem;
}

.nav-bar {
  background-color: #fff;
}
.nav-bar-link {
  color: rgb(95, 87, 87);
  font-weight: 400;
  font-size: 1.05em;
}
.nav-bar-link:hover {
  color: #000;
}

.btn-g {
  align-items: center;
  background-color: #fff;
  border: 0.0625em solid rgb(95, 87, 87);
  border-radius: 0.375em;
  box-shadow: none;
  box-sizing: border-box;
  color: rgb(95, 87, 87);
  cursor: pointer;
  display: flex;
  height: 2.5em;
  justify-content: center;
  padding: calc(0.5em - 1px) 1em;
  text-align: center;
  user-select: none;
}
.size-btn-nav-bar {
  font-weight: 600;
  font-size: 1.12em;
  border-color: #000;
  color: #000;
}

.btn-g:active {
  box-shadow: rgba(72, 95, 199, 0.25) 0 0 0 0.125em;
}

.btn-g:hover {
  border-color: #000;
  color: #000;
}
