.img-logo {
  width: 3em;
  height: 3em;
}

.nav-bar {
  background: #ffffff;
  background: -webkit-radial-gradient(top left, #ffffff, #e3ede8);
  background: -moz-radial-gradient(top left, #ffffff, #e3ede8);
  background: radial-gradient(to bottom right, #ffffff, #e3ede8);
  /* background-color: #696969; */
}
.nav-bar-link {
  color: #696969;
  font-weight: 400;
  font-size: 0.95em;
}
.nav-bar-link:hover {
  color: #191919;
}

.btn-g {
  font-weight: 600;
  align-items: center;
  background: #ffffff;
  background: -webkit-radial-gradient(top left, #ffffff, #e3ede8);
  background: -moz-radial-gradient(top left, #ffffff, #e3ede8);
  background: radial-gradient(to bottom right, #ffffff, #e3ede8);
  border: 0.0625em solid #696969;
  border-radius: 0.375em;
  box-shadow: none;
  box-sizing: border-box;
  color: #696969;
  cursor: pointer;
  display: flex;
  height: 2.5em;
  justify-content: center;
  padding: calc(0.5em - 1px) 1em;
  text-align: center;
  user-select: none;
  font-size: 1.05em;
}
.size-btn-nav-bar {
  font-size: 1.02em;
  border-color: #191919;
  color: #191919;
}

.btn-g:active {
  box-shadow: rgba(72, 95, 199, 0.25) 0 0 0 0.125em;
}

.btn-g:hover {
  border-color: #191919;
  color: #191919;
}
.link-nav-container {
  padding: 2em 0;
}
