.img-logo {
  width: 5.6em;
  height: 5.6em;
}

.nav-bar {
  background: #ffffff;
  background: -webkit-radial-gradient(top left, #ffffff, #e3ede8);
  background: -moz-radial-gradient(top left, #ffffff, #e3ede8);
  background: radial-gradient(to bottom right, #ffffff, #e3ede8);
  /* background-color: #696969; */
}
.nav-bar-link-hover {
  transition: 0.2s;
}
.nav-bar-link-hover:hover {
  transform: translateY(-2px);
}
.nav-bar-link {
  color: #696969;
  font-weight: 400;
  font-size: 0.95em;
}
.nav-bar-link:hover {
  color: #191919;
}

.btn-g {
  font-weight: 600;
  align-items: center;
  background: #ffffff;
  background: -webkit-radial-gradient(top left, #ffffff, #e3ede8);
  background: -moz-radial-gradient(top left, #ffffff, #e3ede8);
  background: radial-gradient(to bottom right, #ffffff, #e3ede8);
  border: 0.0625em solid #696969;
  border-radius: 0.375em;
  box-shadow: none;
  box-sizing: border-box;
  color: #696969;
  cursor: pointer;
  display: flex;
  height: 2.5em;
  justify-content: center;
  padding: calc(0.5em - 1px) 1em;
  text-align: center;
  user-select: none;
  font-size: 1.05em;

  transition: 0.2s all;
}
.size-btn-nav-bar {
  font-size: 1.02em;
  border-color: #191919;
  color: #191919;
}

.btn-g:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.btn-g:hover {
  border-color: #191919;
  color: #191919;
}
.link-nav-container {
  padding: 2em 0;
}
.navbar-toggler {
  border: 0 !important;
  color: rgb(255, 255, 255) !important;
}
.navbar-toggler-icon {
  transition: 0.15s !important;
}
.icon-togler {
  transition: 0.15s;
  background-image: url("../../public/imagenes/cerrar-imagen.png") !important;
}
