.pagination-item {
  background-color: #dfdfdf;
  color: #191919;
  width: 2.2rem;
  height: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 1em;
  border-radius: 3px;
}
.pagination-active-item {
  background-color: #696969;
  pointer-events: none;
  color: #ffffff;
}
