.pagination-item {
  background-color: #999494;
  color: #fff;
  width: 2.2em;
  height: 2.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 1em;
  border-radius: 3px;
}
.pagination-active-item {
  background-color: #3d3b3b;
  pointer-events: none;
}
