/* .header-detail-container {
  color: #dfdfdf;
} */

.description-container {
  width: 100%;
  min-height: 10em;
  background-color: #dfdfdf;
  color: #696969;
}
.letter-size-header {
  font-size: 1.05em;
}
