/* .header-detail-container {
  color: #dfdfdf;
} */

.description-container {
  width: 100%;
  min-height: 10em;
  background-color: #dfdfdf;
  color: #696969;
}
.letter-size-header {
  font-size: 1.05em;
}
.description {
  white-space: pre;
}
.line-container {
  flex-grow: 5;
}
.line {
  height: 0.1px;
  background-color: #ffffff;

  margin-top: 0.55em;
  opacity: 0.7;
}
.text-header-detail {
  font-size: 1.5em;
}
