.swiper {
  width: 18.75em;
  height: 18.75em;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 18.75em;
  height: 18.75em;
  object-fit: contain;
}
.swiper-button-next {
  color: #dfdfdf !important;
}
.swiper-button-prev {
  color: #dfdfdf !important ;
}
.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: var(--swiper-navigation-sides-offset, -5em) !important;
  right: auto;
}
.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: var(--swiper-navigation-sides-offset, -5em) !important;
  left: auto;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 2.75em !important;
}
.cube-title {
  color: #dfdfdf;
  font-family: "Playfair Display", serif;
  font-size: 1.8em;
  margin-bottom: 1.25em;
}
.cube-container {
  padding: 5em 0 7em 0;
}
